/* CLASSES */


//BOX
.box {
    border: 1px solid gainsboro;
    border-radius: 5px;
}

// FULL WIDTH
.fullwidth {
    width: 100%;
}

// POSITION RELATIVE
.relative {
    position: relative;
}

// BLOCK
.block {
    display: block;
}


/* /CLASSES */