/* LISTAGEM  */


.products-list-item{
    transition: ease-in-out 0.4s all;
    opacity: 0;
    transform: scale(0);
    height: 0;
    padding:0;
    margin:0;

    &.hide{
    opacity: 0;
    transform: scale(0);
    height: 0;
    }
    
    &.show{
    padding:20px;
    opacity: 1;
    transform: scale(1);
    height: initial;
         &:not(:last-child) {
            border-bottom: 1px solid gainsboro;
        }
    }
}

.products-list-link{
    display: block;
    transition: ease-in-out 0.3s all;

    &:hover{
        box-shadow: 0 0 20px 0 rgba(0,0,0,.35);
        transform: scale(1.01);
        .products-list-detail{
            @extend .color-second;
            @include fontSize(20px);
        }
    }
}

.products-list-image{
    width:160px;
    height:160px;
    >img{
        width:100%;
    }
}

.products-list-price{
    @include fontSize(26px);
    @extend .color-darkgray;
    display:block;
}

.products-list-title{
    @include fontSize(20px);
    @extend .color-darkgray;
}

.products-list-detail{
    transition: ease-in-out 0.3s all;
    @extend .color-darkgray;
     @include fontSize(20px);
}





/* /LISTAGEM */