/* PRODUTO */

.main-picture,
.main-picturs-min{
    transition: linear .2s all;
    border: 2px solid #dcdcdc;
    &:hover{
        border: 2px solid $second-color;
    }
}

.main-product-title,
.main-product-price{
    display:block;
    @extend .color-darkgray;
}

.main-product-title{
    padding-top:20px;
}

.main-product-price{
    margin:30px 0;
    display:block;
    @include fontSize(26px);
}